@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrosel.css");
@import url("styles/tópicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");

:root {
--cor-de-fundo: #EBECEE;
--branco: #FFFFFF;
}
body {
background-color: var(--cor-de-fundo);
}
<body>
<h1>Alurabook</h1>
</body>
h1 {
background-color: white;
}
